@charset "UTF-8";
.bg {
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
#section_01 .bg {
	position: relative;
}
.bg .rwd_img {
  /*min-height: 100%;*/
}
.section .wrapper {
  height: 100%;
}
/*.onepage-wrapper .section {
  overflow: hidden;
}*/
.wrapper .down {
  z-index: 1000;
  cursor: pointer;
}
.section_01 .wrapper .topic {
	z-index: 10;
}
.section_01 .player_01, .section_01 .player_02, .section_01 .player_03 {
  display: none;
}
.section_01 .player_01 {
	z-index: 993;
}
.section_01 .player_02 {
	z-index: 992;
}
.section_01 .player_03 {
	z-index: 990;
}
.menubox li {
  cursor: pointer;
}
.btn_backTop {
  z-index: 3005;
}
.flashlight {
  position: absolute;
  z-index: 1;
  display: none;
  overflow: hidden;
}
.flashlight_01 {
  width: 148px;
  height: 151px;
  background: url(../../cn/imgs/lights_1.png) no-repeat;
}
.flashlight_02 {
  width: 193px;
  height: 208px;
  background: url(../../cn/imgs/lights_2.png) no-repeat;
}
.flashlight_03 {
  width: 129px;
  height: 117px;
  background: url(../../cn/imgs/lights_3.png) no-repeat;
}
@media all and (max-width:799px){
  div[class^="section_"] {
    min-width: 100%;
  }
  body, html {
    overflow: visible;
  }
}
.isMobile div[class^="section_"] {
  min-width: 100%;
}
.isMobile .bg { display:none;}
.isMobile .player_01, .isMobile .player_02, .isMobile .player_03 { display:none;}
.isMobile .mobile_bg { display:block;}
.wrap .menubox li {
  position: relative;
}
.triangle.show {
  position: absolute;
  left: -23px;
  top: 0;
}
.wrap .menubox a {
  color: #fff;
}

