@charset "UTF-8";
.bg {
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
#section_01 .bg {
  position: relative;
}
.bg .rwd_img {
  /*min-height: 100%;*/
}
.section .wrapper {
  height: 100%;
}
/*.onepage-wrapper .section {
  overflow: hidden;
}*/
.wrapper .down {
  z-index: 1000;
  cursor: pointer;
}
.section_01 .wrapper .topic {
  z-index: 10;
}
.section_01 .player_01, .section_01 .player_02, .section_01 .player_03 {
  display: none;
}
.section_01 .player_01 {
  z-index: 993;
}
.section_01 .player_02 {
  z-index: 992;
}
.section_01 .player_03 {
  z-index: 990;
}
.menubox li {
  cursor: pointer;
}
.btn_backTop {
  z-index: 3005;
}
.flashlight {
  position: absolute;
  z-index: 1;
  display: none;
  overflow: hidden;
}
.flashlight_01 {
  width: 148px;
  height: 151px;
  background: url(../../cn/imgs/lights_1.png) no-repeat;
}
.flashlight_02 {
  width: 193px;
  height: 208px;
  background: url(../../cn/imgs/lights_2.png) no-repeat;
}
.flashlight_03 {
  width: 129px;
  height: 117px;
  background: url(../../cn/imgs/lights_3.png) no-repeat;
}
div[class^="section_"] {
  overflow: hidden;
}
.isMobile div[class^="section_"] {
  min-width: 100%;
}
.isMobile .bg { display:none;}
.isMobile .player_01, .isMobile .player_02, .isMobile .player_03 { display:none;}
.isMobile .mobile_bg { display:block;}
.wrap .menubox li {
  position: relative;
}
.triangle.show {
  position: absolute;
  left: -23px;
  top: 0;
}
.wrap .menubox a {
  color: #fff;
}
.phone_menuWrapper {
  display: none;
}
@media all and (max-width: 799px) {
  div[class^="section_"] {
    min-width: 100%;
  }
  body, html {
    overflow: visible;
    position: relative;
	font-size:8px;
  }
  .line_white { width:100%; height:11px; display:block; background:url(../imgs/line_white.png) repeat-x;}
  .line_black { width:100%; height:11px; display:block; background:url(../imgs/line_black.png) repeat-x;}
  h2{ font-size:1.5em; font-weight:bold; line-height:1.5em;}
  h3{ font-size:1.5em; font-weight:normal; line-height:1.5em;}
  .text_title { font-size:1em;  line-height:2em;}
  .text_word { font-size:1em; line-height:1.6em;}
  .country { font-size:1em;  line-height:1.5em;}
  .school {  font-size:0.8em; line-height:1em;}
  /*SECTION_02*/
  .section_02 .wrapper { position:relative;}
  .section_02 .wrapper .article { width:40%; min-width:40%; position:absolute; left:15%; top:15%; color:#FFF; text-shadow:1px 1px 0px #000;}
  .section_02 .wrapper .article .info {  margin:2% 0; }
  /*SECTION_03*/
  .section_03 .wrapper .article { width:85%; min-width:85%; position:absolute; left:5%; top:5%; color:#FFF; background:rgba(255,107,26,0.8); padding:2%;}
  /*SECTION_04*/
  .section_04 .wrapper .article { width:85%; min-width:85px; position:absolute; left:5%; top:5%; color:#000;}
  /*SECTION_05*/
  .section_05 .wrapper .article { width:85%; min-width:85%; position:absolute; left:5%; top:5; color:#FFF;}
  /*SECTION_06*/
  .section_06 .wrapper .article { width:85%; min-width:85px; position:absolute; left:5%; top:5%; color:#FFF; background:rgba(5,28,52,0.8); padding:2%;}
  .section_06 .wrapper .article .info {  margin:2% 0; }
  .section_06 .wrapper .article .info ul.school_list {float: left; width:30%; padding: 0 2px 0 8px;}
  .section_06 .wrapper .article .info li+li { padding-top:30px;}
  .section_06 .wrapper .article .info .flag { width:45%; height:auto; float:left;}
  .section_06 .wrapper .article .info .name { float:left; width:175px;}
  
  /*SECTION_07*/
  .section_07 .wrapper .article { width:85%; min-width:85%; position:absolute; left:5%; top:5%; color:#fff; padding:2%;}
  .section_07 .wrapper .article h3{ font-size:1em; font-weight:normal; line-height:1.3em;}
  .section_07 .wrapper .article .info {  margin:2% 0; }
  .section_07 .wrapper .article .info .schedule { height:250px; min-width:85%; border-top: 2px solid #fff; border-bottom: 2px solid #fff;}
  .section_07 .wrapper .article .info .schedule .schedule_list {
  float: left;
  width: 50px;
  min-height: auto;
  border-right: 1px solid #fff;
  padding: 0 2px 0 12px;
}
  .section_07 .wrapper .article .info .schedule .schedule_list_content {
  float: left;
  width: 160px;
  min-height: auto;
  padding: 0 2px 0 12px;
}
  .section_07 .wrapper .article .info .schedule li {
  letter-spacing: 1px;
}
  .section_07 .wrapper .article .info .schedule li+li { padding-top: 10px;}
  .section_07 .wrapper .article .info span { float:left; display:block; width:20px; height:30px; margin-top:5px; margin-right:5px;}
  
  .section_08 .wrapper .article h3{ font-size:1em; font-weight:normal; line-height:1.3em;}
  .bg {
    display: none;
  }
  .player_01, .player_02, .player_03 {
    display: none;
  }
  .mobile_bg {
    display: block;
  }
  .wrap {
    display: none;
  }
  .phone_menuWrapper {
    display: block;
  }
  .phone_menuIcon {
    width: 93px;
    height: 93px;
    background: url(../../cn//imgs/menu.png) no-repeat;
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 1;
    cursor: pointer;
  }
  .phone_menuIcon.close {
    background: url(../../cn//imgs/deleted.png) no-repeat;
  }
  .phone_submenu {
    padding-bottom: 15px;
    position: absolute;
    width: 100%;
    top: 150px;
    display: none;
    z-index: 20;
  }
  .phone_submenu ul {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(25, 34, 64, 0.8);
  }
  .phone_submenu li {
    border-bottom: 1px solid #fff;
    background-color: rgba(25, 34, 64, 0.8);
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 45px;
    text-align: center;
    text-justify: inter-word;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  .phone_submenu li:first-child {
    border-top: 1px solid #fff;
  }
  .phone_submenu li:hover {
    background-color: rgba(255, 107, 27, 1);
  }
}
